:root {
  --color-dark-grey: #111111;
  --color-light-yellow: #fbf8cc;
  --color-yellow: #f5ee84;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-dark-grey);
  line-height: 1.5;
}

body {
  background-color: var(--color-light-yellow);
  color: var(--color-dark-grey);
  font-family: "Poppins", sans-serif;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 422px;
  border-radius: 50px;
  height: 285px;
}

html {
  font-size: 16px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  position: fixed;
  background-color: var(--color-light-yellow);
  width: 100%;
  z-index: 5;
}

.navigation-items {
  max-width: 996px;
  width: 100%;
  padding: 16px 32px;
  display: flex;
  gap: 24px;
}

.title {
  max-width: 310px;
  margin: 8px 0;
  line-height: 1.2;
}

section {
  margin-bottom: 64px;
}

.landing-section {
  margin-top: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

h5 {
  font-size: 1.3rem;
  font-weight: 500;
}
.based-in {
  margin-bottom: 24px;
}

.section-title {
  margin-bottom: 32px;
}

strong {
  font-weight: 600;
}

.contact-us-image {
  width: 464px;
  border-radius: 30px;
  margin-bottom: 32px;
}

p {
  margin-bottom: 24px;
}

ul {
  padding-left: 60px;
}

li {
  margin-bottom: 14px;
}

.contact-us-content {
  display: flex;
  gap: 34px;
}

.contact-us-information {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 350px;
}

.container {
  max-width: 996px;
  padding: 32px;
}

button {
  background-color: var(--color-yellow);
  padding: 8px;
  border: 1px solid var(--color-dark-grey);
  border-radius: 4px;
}

.button-wrapper:hover button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button-wrapper {
  display: inline-table;
  position: relative;
}

.button-background {
  width: 100%;
  height: 100%;
  background: var(--color-yellow);
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 4px;
}

.profile-picture-wrapper {
  position: relative;
  width: 464px;
  margin-left: 147px;
  margin-top: 46px;
}

.slashes {
  position: absolute;
  top: 273px;
  font-weight: 500;
}

.profile-picture-border {
  width: 403px;
  height: 367px;
  border: 1px solid var(--color-dark-grey);
  border-radius: 50%;
  position: absolute;
  top: -33px;
  margin-left: 50px;
}

.plus1,
.plus2,
.plus3 {
  position: absolute;
  font-size: 26px;
  font-weight: 500;
}

.plus1 {
  top: 19px;
  right: 16px;
}

.plus2 {
  top: 9px;
  right: 31px;
}

.plus3 {
  top: -1px;
  right: 16px;
}

@media (max-width: 576px) {
  .landing-section {
    flex-direction: column;
  }
  .navigation {
    margin-left: 84px;
  }
  .section-one {
    margin-left: 149px;
  }

  .section-two {
    margin-left: 149px;
  }

  .section-three {
    margin-left: 149px;
  }
  .contact-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
